#page {

  background-color: black;

  min-height: 100vh;
}

#linkbar {

  min-height: 12vh;
  margin-top: 6vh;
  /*margin-bottom: 0;*/
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 5vw;
  margin-left: 5vw;
  border-radius: 5px;

}

#linkfield{


  display: flex;
  flex-grow: 3;
  margin-left: 2vw;

  /*justify-content: space-between;*/
}
#submit{
  /*min-height: 12vh;*/

  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-left: 2vw;
}

#picturecontainer {
  display: flex;
  align-items: stretch;
  background-color: white;
  margin-top: 6vh;
  /*min-height: 60vh;
  max-width: 50vw;
  justify-content: center;*/
  margin-right: 25vw;
  margin-left: 25vw;
  /*border-radius: 5px;*/
}
#picture {
  display: flex;
  background-color: pink;
  flex-grow: 1;
  margin: 2vw;
}
