/*html, body { height: 100%; }
body {
    margin: 0;
    background: radial-gradient(#666, #222);
    overflow: hidden;
}*/
html{
  background-color:#ffc107;
}

.wrap{
  position:relative;
  margin:100px auto;
  width:50vw;
  z-index:99;
}
svg{
  width:250px;
  height:250px;

}
.bubble{
  position:absolute;
  margin: 0 auto;

  left:20vw;
  -webkit-animation: bounce 2.5s infinite;
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

.line {
  fill: #fff;
  stroke: #333;
  stroke-width: 3px;
  stroke-dasharray: 700;
  stroke-dashoffset: 800;
  animation: line-ani 2s linear forwards;
  -webkit-animation: line-ani 5s linear forwards;
  -moz-animation: line-ani 5s linear forwards;
  -o-animation: line-ani 5s linear forwards;
}


@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}


@-moz-keyframes bounce {
  0%, 100%  {margin: 0 0 0 0;}
  50% {margin: 15px 0 0 0;}
}
@-webkit-keyframes bounce {
  0%, 100%  {margin: 0 0 0 0;}
  50% {margin: 15px 0 0 0;}
